@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-4">
    <div class="OrderFrame">
        <!-- 訂單編號 -->
        <div class="OrderSection">
            <h5>訂單編號: #123456</h5>
        </div>

        <!-- 商品清單 -->
        <div class="OrderSection">
            <h6>商品清單</h6>
            <div class="ScrollableList">
                <!-- 商品 1 -->
                @foreach (var item in ViewBag.ForProducts)
                {
                        <div class="OrderItem">
                            <h6>@item.Name</h6>
                            <div class="d-flex justify-content-between">
                                <span>數量: 2</span>
                                <span>價格: @item.Price</span>
                            </div>
                        </div>
                }
                <!-- 後續用迴圈加商品 -->
                </div>
            </div>

            <!-- 總價格 -->
            <div class="OrderSection">
                <h6>總價格: NT$ 8000</h6>
            </div>

            <!-- 貨運 -->
            <div class="OrderSection">
                <h6>貨運方式: 7-11取貨</h6>
                <a href="#" class="btn btn-primary">貨運查詢</a>
            </div>

            <!-- 付款方式 -->
            <div class="OrderSection">
                <h6>付款方式: ATM轉帳</h6>
            </div>

            <!-- 買家資訊 -->
            <div class="OrderSection">
                <h6>訂購人資訊</h6>
                <p>姓名: 張三</p>
                <p>電話: 0912345678</p>
                <p>地址: 台北市中正區某某路123號</p>
            </div>

            <!-- 訂單頁按鈕 -->
            <div class="OrderSection d-flex justify-content-end">
            <a href="#"><button class="btn btn-primary OrderButton">前往訂單頁面</button></a>
            </div>
        </div>
    </div>

