@model dynamic

@{
    Layout = "_MemberLayout";
}
<h4 class="blockTitle d-flex justify-content-between">基本資料<button class="blockAction_Btn btn" role="button" data-bs-target="#userDataModal" data-bs-toggle="modal">編輯</button></h4>
<form class="userAccount mb-3">
    <div class="avatar me-4"></div>
    <div class="group w-75">
        <div>
            <label for="userNameInput" class="form-label">姓名</label>
            <input type="text" id="userNameInput" class="form-control" placeholder="請輸入姓名" disabled="disabled">
        </div>
        <div>
            <label for="userAccountInput" class="form-label">帳號</label>
            <input type="text" id="userAccountInput" class="form-control" placeholder="請輸入姓名" disabled="disabled">
        </div>
        <div>
            <label for="userPwInput" class="form-label">密碼</label>
            <input type="password" id="userPwInput" class="form-control" placeholder="" disabled="disabled">
        </div>
        <div>
            <label for="userEmailInput" class="form-label">信箱</label>
            <input type="password" id="userEmailInput" class="form-control" placeholder="" disabled="disabled">
        </div>
        <div>
            <label for="userBirthInput" class="form-label">信箱</label>
            <input type="date" id="userBirthInput" class="form-control" placeholder="" disabled="disabled">
        </div>
        <div>
            <label for="userPhoneInput" class="form-label">手機</label>
            <input type="date" id="userPhoneInput" class="form-control" placeholder="" disabled="disabled">
        </div>
    </div>
</form>

<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header d-flex align-items-center-center justify-content-between">
            <button class="accordion-button py-2 d-flex justify-content-between " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <h4 class="blockTitle d-flex align-items-center justify-content-between pb-0 border-0">付款資訊<span class="badge text-bg-secondary ms-1 me-2">3</span><i class="fa-solid fa-caret-down"></i></h4>
            </button>
            <button class="btn btn-sm flex-shrink-0 ms-1" role="button" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">新增</button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead class="bg-light">
                    <tr>
                        <th  class="text-center" scope="col"><input class="form-check-input" type="checkbox" value="" id=""></th>
                        <th scope="col">卡號</th>
                        <th scope="col">卡片類型</th>
                        <th scope="col">有效日期</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id=""></td>
                        <td>**** **** **** 3841<span class="status default ms-2">預設</span></td>
                        <td class="text-center">Visa</td>
                        <td  class="text-center">05/25</td>
                        <td>
                            <button class="btn me-1">編輯</button>
                            <button class="btn">刪除</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id=""></td>
                        <td>**** **** **** 3841</td>
                        <td class="text-center">Visa</td>
                        <td class="text-center">05/25</td>
                        <td>
                            <button class="btn me-1">設為預設</button>
                            <button class="btn me-1">編輯</button>
                            <button class="btn">刪除</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <input class="form-check-input" type="checkbox" value="" id="">
                        </td>
                        <td>**** **** **** 3841</td>
                        <td class="text-center">Visa</td>
                        <td class="text-center">05/25</td>
                        <td>
                            <button class="btn me-1">設為預設</button>
                            <button class="btn me-1">編輯</button>
                            <button class="btn">刪除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header d-flex align-items-center-center justify-content-between">
            <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <h4 class="blockTitle d-flex align-items-center justify-content-between pb-0 border-0">宅配資訊<span class="badge text-bg-secondary ms-1 me-2">3</span><i class="fa-solid fa-caret-down"></i></h4>
            </button>
            <button class="btn btn-sm flex-shrink-0 ms-1">新增</button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead class="bg-light">
                    <tr>
                        <th  class="text-center" scope="col"><input class="form-check-input" type="checkbox" value="" id=""></th>
                        <th scope="col">收貨地址</th>
                        <th scope="col">收件人</th>
                        <th scope="col">手機</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id=""></td>
                        <td>台北市大安區信義路三段88號<span class="status default ms-2">預設</span></td>
                        <td class="text-center">夏琳瑞</td>
                        <td  class="text-center">0912-345-678</td>
                        <td>
                            <button class="btn me-1">編輯</button>
                            <button class="btn">刪除</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><input class="form-check-input" type="checkbox" value="" id=""></td>
                        <td>新北市板橋區中山路一段23號</td>
                        <td class="text-center">王小明</td>
                        <td class="text-center">0987-654-321</td>
                        <td>
                            <button class="btn me-1">設為預設</button>
                            <button class="btn me-1">編輯</button>
                            <button class="btn">刪除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header d-flex justify-content-between">
            <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <h4 class="blockTitle pb-0 border-0">超商取貨<span class="badge text-bg-secondary ms-1 me-2">1</span><i class="fa-solid fa-caret-down"></i></h4>
            </button>
            <button class="btn btn-sm flex-shrink-0 ms-1">新增</button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <table class="table table-hover">
                    <thead class="bg-light">
                    <tr>
                        <th class="text-center" scope="col"><input class="form-check-input" type="checkbox"></th>
                        <th scope="col">超商</th>
                        <th scope="col">門市</th>
                        <th scope="col">地址</th>
                        <th scope="col">收件人</th>
                        <th scope="col">手機</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center"><input class="form-check-input" type="checkbox"></td>
                        <td class="text-center">7-11</td>
                        <td class="text-center">新五廊</td>
                        <td>台中市西區民生路109、111號<span class="status default ms-2">預設</span></td>
                        <td class="text-center">夏琳瑞</td>
                        <td class="text-center">0912-345-678</td>
                        <td>
                            <button class="btn me-1">編輯</button>
                            <button class="btn">刪除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<style>
    /*會員中心*/
    .userAccount {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        gap: 1rem;

        /*帳號資訊*/
        .avatar {
            width: 150px;
            height: 150px;
            display: flex;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: aliceblue;
            border: 4px solid #e8e8e8;
            overflow: hidden;
        }

        .group {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr 1fr 1fr;

            div {
                display: flex;
                flex-direction: column;

                label {
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 0.25rem;
                }
            }
        }
        /*帳號資訊*/
    }
</style>