@model dynamic

@{
    Layout = "_MemberLayout";
}
<ul class="nav nav-underline">
    <li class="nav-item">
        <a class="nav-link active" href="">訂單明細</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">賽事紀錄</a>
    </li>
</ul>
<table class="table table-hover memCt">
    <thead class="bg-light">
    <tr>
        <th scope="col" class="">訂單編號</th>
        <th scope="col" class="">購買明細</th>
        <th scope="col" class="text-center">購買日期</th>
        <th scope="col" class="text-center">付款方式</th>
        <th scope="col" class="text-center">付款資訊</th>
        <th scope="col" class="text-center">付款金額</th>
        <th scope="col" class="">運費</th>
        <th scope="col" class="text-center">取貨方式</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="txt-overflow">XH349745bfd</td>
        <td class="txt-overflow">羽球拍*2、護膝*1、飛盤、扯鈴</td>
        <td  class="text-center txt-overflow">025-02-28  13:07</td>
        <td  class="text-center txt-overflow">信用卡</td>
        <td  class="text-center txt-overflow">********-2345</td>
        <td  class="text-center txt-overflow">2,400</td>
        <td  class="text-center txt-overflow">150</td>
        <td  class="text-center txt-overflow">宅配</td>
    </tr>
    </tbody>
</table>