@model dynamic

@{
    Layout = "_MemberLayout";
}
 <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header d-flex align-items-center-center justify-content-between">
            <button class="accordion-button py-2 d-flex justify-content-between" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                <h4 class="blockTitle d-flex justify-content-between m-0 pb-0 border-0">運動賽事<i class="fa-solid fa-caret-down ms-2"></i></h4>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body p-0">
                <table class="table border-0">
                    <thead class="bg-secondary">
                    <tr>
                        <th style="width: 1%;"></th>
                        <th scope="col">賽事名稱</th>
                        <th scope="col">比賽日期</th>
                        <th scope="col">比賽地點</th>
                        <th scope="col">類型</th>
                        <th scope="col">參加狀態</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><button class="btn favBtn"><i class="fa-solid fa-heart"></i></button></td>
                        <td>2025 台中籃球公開賽</td>
                        <td>2023-05-10 13:12:34</td>
                        <td>台中公園</td>
                        <td>籃球</td>
                        <td><span class="status oncoming ms-2">未開始</span></td>
                        @* <td class="actions"> *@
                        @*     <button class="btn btn-sm btn-outline-secondary">詳情</button> *@
                        @* </td> *@
                    </tr> 
                    <tr>
                        <td><button class="btn favBtn"><i class="fa-solid fa-heart"></i></button></td>
                        <td>2025 台中籃球公開賽</td>
                        <td>2023-05-10 13:12:34</td>
                        <td>台中公園</td>
                        <td>籃球</td>
                        <td><span class="status oncoming ms-2">未開始</span></td>
                        @* <td class="actions"> *@
                        @*     <button class="btn btn-sm btn-outline-secondary">詳情</button> *@
                        @* </td> *@
                    </tr> 
                    <tr>
                        <td><button class="btn favBtn"><i class="fa-solid fa-heart"></i></button></td>
                        <td>2025 台中籃球公開賽</td>
                        <td>2023-05-10 13:12:34</td>
                        <td>台中公園</td>
                        <td>籃球</td>
                        <td><span class="status oncoming ms-2">未開始</span></td>
                        @* <td class="actions"> *@
                        @*     <button class="btn btn-sm btn-outline-secondary">詳情</button> *@
                        @* </td> *@
                    </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header d-flex align-items-center-center justify-content-between">
            <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                <h4 class="blockTitle d-flex justify-content-between m-0 pb-0 border-0">場地<i class="fa-solid fa-caret-down ms-2"></i></h4>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body venue-part p-3">
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2019/04/26/19/44/basketball-court-4158462_1280.jpg" class="img-fluid rounded-start" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">台北市立運動中心</h5>
                                <p class="card-text txt-overflow mb-2">地址：114台北市內湖區民權東路六段208號</p>   <p class="card-text txt-overflow">費用：500/小時 1人</p>
                                @* <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header d-flex justify-content-between">
            <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                <h4 class="blockTitle m-0 pb-0 border-0">運動商城<i class="fa-solid fa-caret-down ms-2"></i></h4>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">
            <div class="accordion-body shop-part p-3">
                <div class="card product mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2014/06/18/18/42/running-shoe-371625_1280.jpg" class="img-fluid" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">亞瑟士慢跑鞋</h5>
                                <p class="card-text txt-overflow fw-bold mb-2">$1589 <span class="card-text ms-2 bg-light px-2 py-2 fw-normal text-secondary">預購</span>
                                </p>   
                                <button class="btn btn-sm btn-outline-secondary add_cartBtn"><i class="fa-solid fa-cart-plus"></i>
                                    加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card product mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2014/06/18/18/41/running-shoe-371624_1280.jpg" class="img-fluid" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">亞瑟士慢跑鞋</h5>
                                <p class="card-text txt-overflow fw-bold mb-2">$1589 <span class="card-text ms-2 bg-light px-2 py-2 fw-normal text-secondary">預購</span>
                                </p>
                                <button class="btn btn-sm btn-outline-secondary add_cartBtn"><i class="fa-solid fa-cart-plus"></i>
                                    加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card product mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2015/02/09/13/40/shoe-629643_1280.jpg" class="img-fluid" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">亞瑟士慢跑鞋</h5>
                                <p class="card-text txt-overflow fw-bold mb-2">$1589 <span class="card-text ms-2 bg-light px-2 py-2 fw-normal text-secondary">預購</span>
                                </p>
                                <button class="btn btn-sm btn-outline-secondary add_cartBtn"><i class="fa-solid fa-cart-plus"></i>
                                    加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div><div class="card product mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2014/06/18/18/42/running-shoe-371625_1280.jpg" class="img-fluid" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">亞瑟士慢跑鞋</h5>
                                <p class="card-text txt-overflow fw-bold mb-2">$1589 <span class="card-text ms-2 bg-light px-2 py-2 fw-normal text-secondary">預購</span>
                                </p>   
                                <button class="btn btn-sm btn-outline-secondary add_cartBtn"><i class="fa-solid fa-cart-plus"></i>
                                    加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card product mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2014/06/18/18/41/running-shoe-371624_1280.jpg" class="img-fluid" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">亞瑟士慢跑鞋</h5>
                                <p class="card-text txt-overflow fw-bold mb-2">$1589 <span class="card-text ms-2 bg-light px-2 py-2 fw-normal text-secondary">預購</span>
                                </p>
                                <button class="btn btn-sm btn-outline-secondary add_cartBtn"><i class="fa-solid fa-cart-plus"></i>
                                    加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card product mb-0">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://cdn.pixabay.com/photo/2015/02/09/13/40/shoe-629643_1280.jpg" class="img-fluid" alt="...">
                            <button class="btn favBtn">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title fw-bold txt-overflow">亞瑟士慢跑鞋</h5>
                                <p class="card-text txt-overflow fw-bold mb-2">$1589 <span class="card-text ms-2 bg-light px-2 py-2 fw-normal text-secondary">預購</span>
                                </p>
                                <button class="btn btn-sm btn-outline-secondary add_cartBtn"><i class="fa-solid fa-cart-plus"></i>
                                    加入購物車</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>