@model dynamic

@{
    Layout = "_MemberLayout";
}
@* 篩選條件 *@
<aside class="filter-sidebar me-4">
    <div class="filter-header d-flex align-items-center justify-content-between mb-3">
        <h2 class="fs-5 fw-bold mb-0">篩選條件</h2>
        <button class="btn btn-sm clearCondition_Btn">清除條件</button>
    </div>
    <div class="search-bar">
        <input type="text" class="form-control w-100" placeholder="搜尋">
    </div>
    <section class="filter-group">
        <div class="areaSelect d-flex align-items-center justify-content-between my-2">
            <h3 class="fs-6 fw-bold text-secondary my-2">地點</h3>
            <div class="filter-tags">
                <button class="btn btn-sm btn-secondary text-light">北</button>
                <button class="btn btn-sm btn-outline-secondary text-secondary">中</button>
                <button class="btn btn-sm btn-outline-secondary text-secondary">南</button>
                <button class="btn btn-sm btn-outline-secondary text-secondary">東</button>
            </div>
        </div>
        <div class="cityTag d-flex flex-wrap gap-2">
            <span class="ct-tag">基隆市</span>
            <span class="ct-tag">宜蘭縣</span>
            <span class="ct-tag selected"><i class="fa-solid fa-check me-1"></i>臺北市</span>
            <span class="ct-tag selected"><i class="fa-solid fa-check me-1"></i>新北市</span>
            <span class="ct-tag">桃園市</span>
            <span class="ct-tag">新竹市</span>
            <span class="ct-tag">新竹縣</span>
        </div>
    </section>
    <section class="filter-group">
        <h3 class="fs-6 fw-bold text-secondary my-2">運動類型</h3>
        <div class="filter-tags d-flex flex-wrap gap-1">
            <span class="sport-tag">籃球</span>
            <span class="sport-tag selected">網球</span>
            <span class="sport-tag">羽球</span>
            <span class="sport-tag">排球</span>
            <span class="sport-tag">游泳</span>
            <span class="sport-tag">瑜伽</span>
            <span class="sport-tag">皮拉提斯</span>
            <span class="sport-tag">足球</span>
        </div>
    </section>
    <section class="filter-group">
        <h3 class="fs-6 fw-bold text-secondary my-2">設備</h3>
        <div class="filter-tags d-flex flex-wrap gap-1">
            <span class="equipment-tag"><i class="fa-solid fa-shower me-1"></i>淋浴間</span>
            <span class="equipment-tag selected"><i class="fa-solid fa-restroom me-1"></i>廁所</span>
            <span class="equipment-tag"><i class="fa-solid fa-square-parking me-1"></i>停車場</span>
            <span class="equipment-tag"><i class="fa-solid fa-network-wired me-1"></i>計分版</span>
            <span class="equipment-tag"><i class="fa-solid fa-wind me-1"></i>空調</span>
            <span class="equipment-tag"><i class="fa-solid fa-store me-1"></i>販賣部</span>
            <span class="equipment-tag"><i class="fa-solid fa-dumbbell me-1"></i>用具租借</span>
        </div>
    </section>
    <section class="filter-group">
        <h3 class="fs-6 fw-bold text-secondary my-2">價格範圍</h3>
        <input type="range" class="form-range w-100" min="0" max="5000">
        <form class="d-flex justify-content-between">
            <input class="form-control me-2" type="text" placeholder="300">
            <input class="form-control" type="text" placeholder="1200">
        </form>
    </section>

    <section class="filter-group d-flex flex-column">
        <h3 class="fs-6 fw-bold text-secondary my-2">開放時間</h3>
        <label class="mb-2 fw-bold openTime"><input type="checkbox" checked="checked"> 早上 - 06:00 - 12:00</label>
        <label class="mb-2 fw-bold openTime"><input type="checkbox" checked="checked"> 下午 - 12:00 - 18:00</label>
        <label class="mb-2 fw-bold openTime"><input type="checkbox"> 晚上 - 20:00 - 23:00</label>
    </section>

    @* <section class="filter-group"> *@
    @*     <h3>排序選擇</h3> *@
    @*     <button>距離最近</button> *@
    @*     <button>價格最低</button> *@
    @* </section> *@
</aside>

<div class="container-fluid venues-section py-4 px-0">
    <div class="headerRow d-flex align-items-center justify-content-between mb-3">
        <div class="result-group d-flex align-items-center">
            <div class="search-keyword d-flex align-items-center fs-4">
                <i class="fa-solid fa-magnifying-glass me-3"></i>
                <p class="search-text fs-4 fw-bold pe-2 border-end-1 border-light">北</p>
                符合條件的
            </div>
            <p class="result-count fs-4 text-secondary">場地數量：<span class="countVal text-dark fw-bold">15</span>筆
            </p>
        </div>
        <div class="result-layOut d-flex align-items-center justify-content-around rounded-1 shadow-sm bg-light">
            <button class="btn btn-m grid_Btn"><i class="fa-solid fa-border-all"></i></button>
            <button class="btn btn-m list_Btn"><i class="fa-solid fa-list-ul"></i></button>
        </div>
    </div>
    <div class="venue-area list">
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow">
                    <i class="fa-solid fa-location-dot me-2 text-secondary"
                       style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow">
                    <i class="fa-solid fa-location-dot me-2 text-secondary"
                       style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
        <div class="card">
            <img
                src="https://sportspod.in/cdn/shop/files/dominate-the-tennis-court-with-hiper-interlocking-tiles-604943.jpg?v=1726484993&width=1445"
                class="card-img-top" alt="...">
            <div class="card-body">
                <div class="tag-wrap d-flex align-items-center justify-content-between ">
                    <p class="card-text sport-type"><small class="text-body-secondary">網球</small></p>
                    <button class="btn favBtn"><i class="fa-solid fa-heart"></i></button>
                </div>
                <h5 class="card-title fw-bold fs-5 mb-3 txt-overflow">北車網球</h5>
                <p class="card-text mb-3 fw-bold txt-overflow"><i class="fa-solid fa-location-dot me-2 text-secondary"
                                                                  style="padding: 0 2px;"></i>114台北市內湖區民權東路六段208號
                </p>
                <p class="card-text fw-bold txt-overflow"><i
                        class="fa-solid fa-hand-holding-dollar me-2 text-secondary"></i>500/小時 1人</p>
            </div>
        </div>
    </div>
</div>

<style>
    /*左-篩選*/
    aside {
        max-width: 266px;
        border-radius: 16px;
        padding: 16px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 8px;
            border-radius: 4px;
            border: 1px solid darkgray;
            font-size: 14px;
            transition: background-color 0.3s ease;
            cursor: pointer;

            &.selected {
                background-color: darkgray;
                font-weight: bold;
                color: white;
            }
        }

        .openTime {
            font-size: 14px;
        }
    }

    /*右-場地*/
    .venues-section {

        .headerRow {

            .result-count {
            }
        }

        .venue-area {

            .card {
                overflow: hidden;

                .card-body {

                    p {
                        i {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            &.grid {
                display: grid;
                grid-auto-columns: initial;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 16px;
            }

            &.list {
                display: unset;

                .card {
                    display: flex;
                    flex-direction: row;
                    margin: 0 0 16px;

                    &:last-of-type {
                        margin: 0;
                    }

                    img {
                        width: 21%;
                    }
                }
            }
        }
    }
</style>

<script>
    // 篩選
    
    
    // 切換瀏覽方式
    let gridBtn  = document.querySelector('.grid_Btn');
    let listBtn  = document.querySelector('.list_Btn');
    let venueWrap = document.querySelector('.venue-area');

    gridBtn.addEventListener("click", function () {
        gridBtn.classList.add('active');
        listBtn.classList.remove('active');
        venueWrap.classList.remove('list');
        venueWrap.classList.add('grid');
    });

    listBtn.addEventListener("click", function () {
        listBtn.classList.add('active');
        gridBtn.classList.remove('active');
        venueWrap.classList.remove('grid');
        venueWrap.classList.add('list');
    });


</script>